html, body
{
	
	height: 98%;
	width: 98%;
}


h3 {color:white;

	user-select: none;
	text-align: center;
	font-size: 200%;
	font: helvetica;
}


#mySVGCanvas {
	border: 4px solid #FFFFFF;
	width: 600px;
	height: 400px;
	margin: auto;
	/*background-color: black;*/
	background-image: url("fond1.jpg");

}

#fullPage{
	background-image: url("http://img1.gtsstatic.com/wallpapers/3ddcaedb0fcbf0bcee2a7a3106858c41_large.jpeg");
} 

#myPara{
	text-align:center;
	font-size:100%;
	font:helvetica;
	color:white;
}